version: "3.8"

services:
  ideas-service:
    image: $IMAGE_NAME
    container_name: ideas-service
    restart: always
    env_file:
      - .env
    networks:
      - ideas-service-4-dev

networks:
  ideas-service-4-dev:
    external: true